// Screen sizes
$desktop_4k_width: 2560.5px;
$desktop_l_width: 1440.5px;
$desktop_width: 1024.5px;
$tablet_width: 768.5px;
$mobile_l_width: 425.5px;
$mobile_m_width: 375.5px;
$mobile_s_width: 320.5px;

// Nav size: minimum width for full navbar
$min-nav-size: 730px;

// Border radii for buttons and panes
$border-radius: 2rem;
$border-radius-small: 1rem;