<!-- Partial for the feature header -->
<div class="features-header">
  <div class="features-header-link">
    <a class="arrow-link" href="/features/index.html ">
      <img class="svg arrow-left" src="/images/icons/arrow_left.svg" alt="arrow-left"/>
      <text-bf>Back to overview</text-bf><br/>
    </a>
    <a class="arrow-link" href="https://docs.utopia-project.org/html/about/features.html#" id="second">
      <text-bf>Complete</text-bf>
      <text-bf style="white-space: nowrap;">
        feature&nbsp;list
        <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
      </text-bf>
    </a>
  </div>

  <div class="section-title">
    <h3> {{ .Params.tagline | safeHTML }} </h3>
    <h2> {{ .Params.heading | safeHTML }} </h2>
  </div>

  <div class="section-subtext">
    <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
  </div>
</div>
