<!-- Partial for the feature accordion -->
<div id="{{.id }}_accordion" class="accordion w-100">
  <hr />
  <div class="card">
    <div class="card-header collapsed">
      <a class="card-link" data-toggle="collapse" href="#{{ .id }}">
        <div class="collapsible-item-header">
          <h3> {{ .name | markdownify }} </h3>
        </div>
        <div class="collapsible-item-toggler">
          <h2 > + </h2>
        </div>
      </a>
    </div>
    <div id="{{ .id }}" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="collapsible-item-item" id="{{ .id }}">

            <!-- if images are included, float text left and images right for large screens -->
            {{ if .images }}
              <div class="collapsible-item-with-image">
                <div class="collapsible-item-content collapsible-item-content-with-image">
                  <p> {{ .description | markdownify }} </p>
                  {{ if .doclink }}
                    <a class="arrow-link" href="{{ .doclink }}">
                      <text-reg> More details </text-reg>
                      <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                    </a>
                  {{ end }}
                </div>
                <div class="collapsible-item-content-images">
                  {{ range .images}}
                  <div class="collapsible-item-content-image">
                    <img class="border-straight" src="{{ .image  }}" alt="feature image"/>
                    <text-small> {{ .description | markdownify }}</text-small>
                  </div>
                  {{ end }}
                </div>
              </div>

            <!-- if no images are included, make text full width -->
            {{ else }}
              <div class="collapsible-item-content collapsible-item-content-without-image">
                <p> {{ .description | markdownify }} </p>
                {{ if .doclink }}
                  <a class="arrow-link" href="{{ .doclink }}">
                    <text-reg> More details </text-reg>
                    <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                  </a>
                {{ end }}
              </div>
            {{ end }}

          <!-- Always put doclink underneath text and images -->

         </div>
      </div>
    </div>
  </div>
</div>
