<!-- Footer partial -->
{{ with .Site.Data.footer }}
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="logo logo-s">
        <img class="svg" src="/images/logo/logo.svg" alt="Utopia-logo"/>
        <text-small> | &#169; The Utopia Developer Team</text-small>
      </div>

      {{ range .categories }}
      <div class="footer-category">
        <hr/>
        <div class="footer-category-header">
          <text-small> {{ .name | markdownify }} </text-small><br/>
        </div>

        <div class="footer-category-text">
          <text-small> {{ .text | markdownify }} </text-small>
        </div>
      </div>
      {{ end }}
      <div class="footer-signature">
        <div class="arrow-link">
          <text-small>Design:</text-small>
          <a href="https://www.behance.net/gaskin">
            <text-small>Thomas Gaskin</text-small>
            <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
            <br>
          </a>
      </div>
    </div>
  </div>
</footer>
{{ end }}
