<!-- Partial for the navbar -->
<nav class="nav">
  <div class="nav-container">

    <!-- Home button -->
    <div class="nav-home-button nav-item">
      <a href="{{ .Site.BaseURL }}/index.html">
        <img class="svg" src="/images/logo/logo_icon.svg" id="home-button" alt="home"/>
      </a>
    </div>

    <!-- Divider -->
    <div class="nav-divider nav-item nav-large"></div>

    <!-- Links -->
    <div class="nav-item nav-large">
      {{ range .Site.Menus.main }}
        <li class="nav-links">
          <a href="{{ .URL | absURL  }}" id="navlink">
            {{ .Name }}
          </a>

        </li>
      {{ end }}
    </div>

    <!-- Divider -->
    <div class="nav-divider nav-item nav-large"></div>

    <!-- Toggle button -->
    <div class="nav-toggler nav-item">
      <button type="button" class="navbar-toggler collapsed"
       data-toggle="collapse" data-target="#menuitems">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collapsed navbar -->
    <div class="collapse" id="menuitems">
      <div class="nav-collapsed nav-small" style="margin-top: 10px;">
      {{ range .Site.Menus.main }}
        <li class="nav-links nav-collapse">
          <a href="{{ .URL | absURL  }}" id="navlink">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
      </div>
      <div class="nav-collapsed" style="margin-bottom: 10px;">
      {{ range .Site.Menus.dropdown }}
        <li class="nav-links nav-collapse">
          <a href="{{ .URL | absURL  }}" id="navlink">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
      </div>
    </div>
  </div>
</nav>
