<!-- Partial for the landing page - main box -->
<section class="section">
  <div class="container">
    <div class="row">

      <!----- Splash on landing page ---------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->
      {{ with .Site.Params.landingpage }}
      <div class="mainpage-section mainpage-splash">
        <div class="mainpage-splash-content">

          <!-- Logo -->
          <div class="logo-l">
            <img src="/images/logo/logo.svg" class="svg" alt="utopia-logo">
          </div>

          <!-- Header -->
          <div class="section-title">
            <h2> {{ .desc1 | markdownify }} </h2>
          </div>

          <!-- Description -->
          <div class="section-subtitle">
            <text-reg> {{ .desc2  | markdownify }} </text-reg>
          </div>

          <!-- Links to get started page, docs, and repo-->
          {{ range .links.internal }}
          <a class="arrow-link" href="{{ .URL }}">
            <text-bf>{{ .text }}</text-bf>
            <img class="svg arrow-right" src="/images/icons/arrow_right.svg" alt="arrow-right"/>
          </a>
          {{ end }}
          {{ range .links.external }}
          <a class="arrow-link" href="{{ .URL }}">
            <text-bf>{{ .text }}</text-bf>
            <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
          </a>
          {{ end }}

          <hr style="width: 100%;"/>

          <!-- utopya and dantro showcase -->
          <div class="mainpage-splash-content-ecosystem">
            <div class="section-subtext">
              <text-reg> {{ .desc3  | markdownify }} </text-reg>
            </div>
              <a href = {{ .utopya }}>
                <div class="mainpage-splash-content-ecosystem-button logo-m border-small">
                  <img src="/images/logo/utopya.svg" class="svg" alt="utopya-logo">
                </div>
              </a>
              <a href = {{ .dantro }}>
                <div class="mainpage-splash-content-ecosystem-button logo-m border-small">
                  <img src="/images/logo/dantro.svg" class="svg" alt="dantro-logo">
                </div>
              </a>
          </div>
        </div>

        <!-- Carousel of model showcases ------------------------------------------------------------------------------>
        <div class="mainpage-splash-carousel carousel slide" id="carouselExampleIndicators" data-ride="carousel">
          <div class="mainpage-splash-carousel-container">

            <!-- Carousel items --------------------------------------------------------------------------------------->
            <div class="carousel-inner">
              {{ range $index, $element := (where $.Site.RegularPages "Type" "models")  }}
              {{ if .Params.Highlight }}

                {{ if (eq $index 0) }}
                <div class="carousel-item active">
                {{ end }}
                {{ if not (eq $index 0) }}
                <div class="carousel-item">
                {{ end  }}

                  <div class="model-pane border-large">
                    <a href="{{ .Permalink }}index.html">
                      <div class="model-pane-img">
                        {{ if .Params.Video }}
                        <video autoplay height=960 width=960 loop muted preload=auto>
                          <source src="{{ .Params.Video  | absURL }}" />
                        </video>
                        {{ end }}
                        {{ if not .Params.Video }}
                        <img src="{{ .Params.Cover_image | relURL }}" height=960 width=960 alt="project-thumb"/>
                        {{ end }}
                      </div>
                      <div class="model-pane-text">
                        <h5>{{ .Params.tagline | markdownify }}</h5>
                        <h4>{{ .Params.heading | markdownify }}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                {{ end }}
                {{ end }}

                <!-- More models pane -->
                <div class="carousel-item">
                  <div class="model-pane border-large">
                    <a href="models/index.html">
                      <div class="model-pane-img">
                        <img src="/images/models/Geomorphology/Geomorphology_1.png" height=960 width=960 alt="project-thumb"/>
                      </div>
                      <div class="model-pane-text mainpage-splash-more-pane arrow-link">
                        <text-bf>More models</text-bf>
                        <img class="svg arrow-right" src="/images/icons/arrow_right.svg" alt="arrow-right"/>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of carousel items ------------------------------------------------------------------------------>

              <!-- Controls ------------------------------------------------------------------------------------------->
              <div class="mainpage-splash-carousel-controls">

                <!-- Arrow left -->
                <a class="arrow-link mainpage-splash-carousel-controls-arrow-prev"
                   href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <div class="mainpage-splash-carousel-controls-arrow-box border-round">
                    <img class="svg arrow-left" aria-hidden="true" src="/images/icons/arrow_left.svg">
                  </div>
                </a>

                <!-- Carousel buttons -->
                <div class="mainpage-splash-carousel-controls-dots">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><div class="dot"></div></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"><div class="dot"></div></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"><div class="dot"></div></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"><div class="dot"></div></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"><div class="dot"></div></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"><div class="dot"></div></li>
                  </ol>
                </div>

                <!-- Arrow right -->
                <a class="arrow-link mainpage-splash-carousel-controls-arrow-next"
                   href="#carouselExampleIndicators" role="button" data-slide="next">
                  <div class="mainpage-splash-carousel-controls-arrow-box border-round">
                    <img class="svg arrow-right" aria-hidden="true" src="/images/icons/arrow_right.svg">
                  </div>
                </a>
              </div>
              <!-- End of carousel controls --------------------------------------------------------------------------->

            </div>
          </div>
        </div>
        <!-- End of carousel ------------------------------------------------------------------------------------------>

        {{ end }}
      <!---- End of splash -------------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->

      <hr/>

      <!------ Strengths  --------------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->
      {{ with .Site.Data.mainpage }}

      <div class="mainpage-section mainpage-features">

        <!-- Header -->
        <div class="mainpage-section-header">
          <div class="paragraph-title">
            <h2>{{ .strengths.header | markdownify }}</h2>
          </div>
          <div class="section-subtitle">
            <text-reg>{{ .strengths.subheader | markdownify }}</text-reg>
          </div>
        </div>

        <!-- Panes -->
        <div class="mainpage-features-panes">
          <!-- Left column -->
          <div class="mainpage-features-col-left">
            {{ range .strengths.items.left }}
              <div class="mainpage-features-pane">

                <!-- Icon -->
                <div class ="mainpage-features-pane-icon icon-s">
                  <img class="svg" src="/images/icons/plus.svg" alt="icon"/>
                </div>

                 <!-- Text -->
                <div class ="mainpage-features-pane-textbox">
                  <h4>{{ .title | markdownify }}</h4>
                  <text-reg> {{ .description | markdownify }} </text-reg>
                </div>

              </div>
            {{ end }}
          </div>

          <!-- Right column -->
          <div class="mainpage-features-col-right">
            {{ range .strengths.items.right }}
              <div class="mainpage-features-pane">

              <!-- Icon -->
              <div class ="mainpage-features-pane-icon icon-s">
                <img class="svg" src="/images/icons/plus.svg" alt="icon"/>
              </div>

              <!-- Text -->
              <div class ="mainpage-features-pane-textbox">
                <h4>{{ .title | markdownify }}</h4>
                <text-reg> {{ .description | markdownify }} </text-reg>
              </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      <!---- End of strengths ----------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->

      <hr/>

      <!------ Workflow  ---------------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->

      <div class="mainpage-section mainpage-workflow">
        <!-- Header -->
        <div class = "mainpage-section-header">

          <!-- Icons -->
          <div class="mainpage-workflow-header-icons icon-l">
              <a href="#model_building">
                <img class="svg" src="/images/icons/model_building.svg" id='icon_model_building' alt="model_building"/>
              </a>
              <a href="#sim_control">
                <img class="svg" src="/images/icons/sim_control.svg" id='icon_sim_control' alt="sim_control"/>
              </a>
              <a href="#run">
                <img class="svg" src="/images/icons/run_multiverse_utopya_thin.svg" id='icon_run' alt="run"/>
              </a>
              <a href="#data_management">
                <img class="svg" src="/images/icons/data_management.svg" id='icon_data' alt="data_io"/>
              </a>
              <a href="#data_analysis">
                <img class="svg" src="/images/icons/data_analysis.svg" id='icon_data_analysis' alt="data_analysis"/>
              </a>
              <a href="#visualize">
                <img class="svg" src="/images/icons/visualize.svg" id='icon_visualize' alt="visualize"/>
              </a>
          </div>

          <!-- Title -->
          <div class="paragraph-title">
            <h2>{{ .workflow.header | markdownify }}</h2>
          </div>
          <div class="section-subtitle">
            <text-reg>{{ .workflow.subheader | markdownify }}</text-reg>
          </div>
        </div>

        {{ range .workflow.items }}
        <div class="mainpage-workflow-item" id="{{ .category }}">

          <!-- Icon -->
          <div class ="mainpage-workflow-item-icon icon-m">
            {{ if .icon }}
              <img class="svg" src="/images/icons/{{ .icon }}.svg" id="icon_{{ .category }}" alt="icon"/>
            {{ else }}
              <img class="svg" src="/images/icons/{{ .category }}.svg" id="icon_{{ .category }}" alt="icon"/>
            {{ end }}
          </div>

          <!-- Textbox -->
          <div class ="mainpage-workflow-item-textbox">
            <div class = "paragraph-title">
              <h3>{{ .title | markdownify }}</h3>
            </div>
            <text-light> {{ .description | markdownify }} </text-light>
            {{ if .link }}
              <div class="arrow-link">
                <a href = "{{.link }}/index.html">
                  <text-light> {{ .link_text }} </text-light>
                  <img class="svg arrow-right" aria-hidden="true" src="/images/icons/arrow_right.svg">
                </a>
              </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <!----- End of workflow ----------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->


      <!----- Collapsible sections ------------------------------------------------------------------------------------>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="collapsible">
        {{ range .collapsibles }}
        <div id="accordion" class="accordion w-100">
          <hr />
          <div class="card" id="{{ .id }}">
            <div class="card-header collapsed">
              <a class="card-link" data-toggle="collapse" href="#acc_{{ .id }}">
                <div class="collapsible-item-header">
                  <h3> {{ .title | markdownify }} </h3>
                </div>
                <div class="collapsible-item-toggler">
                  <h2 > + </h2>
                </div>
              </a>
            </div>
          <div id="acc_{{ .id }}" class="collapse link-target" data-parent="#accordion">
            <div class="card-body">
              <div class="collapsible-item-content link-target">
                <text-reg> {{ .content | markdownify }} </text-reg>
                <div class="collapsible-item-item-images">
                  {{ range .images}}
                  <div class="collapsible-item-content-images-single">
                    <img src="{{ .image | relURL }}" alt="team-member"/>
                    <text-reg> {{ .description | markdownify }}</text-reg>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      <hr />

      <!----- End of collapsible ----------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->

      {{ end }}
      <!----- End of mainpage ----------------------------------------------------------------------------------------->
      <!--------------------------------------------------------------------------------------------------------------->

      </div>
    </div> <!-- End of row -->
  </div> <!-- End of container -->
</section>
