<!-- Partial for the individual model pages header -->
<div class="features-header">
  <div class="features-header-link">
    <a class="arrow-link" href="/models/index.html">
      <img class="svg arrow-left" src="/images/icons/arrow_left.svg" alt="arrow-left"/>
      <text-bf>Back to overview</text-bf><br/>
    </a>
    <a class="arrow-link" href="{{ .Params.link_to_documentation }}" id="second">
      <text-bf>Model</text-bf>
      <text-bf style="white-space: nowrap;">
         documentation
        <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
      </text-bf>
    </a>
  </div>

  <div class="section-title">
    <h3> {{ .Params.tagline | safeHTML }} </h3>
    <h2> {{ .Params.heading | safeHTML }} </h2>
  </div>

  <div class="section-subtext">
    <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
  </div>
</div>
