<!-- Partial for the team section on the about page -->
{{ with .Site.Data.team }}
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="team-member-panes">
          {{ range .members.main }}
          <div class="text-box team-member-card" id="{{ lower .first_name }}">
            <div class="text-content">
                <div class="team-member-card-image">
                  <img src="{{ .image | relURL }}" alt="image: {{.first_name}}&nbsp;{{.last_name}}"/>
                </div>
                <div class="team-member-card-header">
                  <div>
                    <h4> {{ .title }}&nbsp;{{ .first_name }}&nbsp;{{ .last_name }} </h4>
                  </div>
                  <div class="team-member-card-designation">
                    <text-light> {{ .designation | markdownify }} </text-light>
                  </div>
                  <div class="read-more">
                    <text-bf onclick="this.parentElement.parentElement.parentElement.parentElement.classList.add('show-pane');">
                      About {{ .first_name }}
                    </text-bf>
                  </div>
                </div>
                <div class="team-member-card-content text-box">
                  <i class="close-pane-icon fa fa-times-circle fa-lg" onclick="this.parentElement.parentElement.parentElement.classList.remove('show-pane');"></i>
                  <div class="text-content">

                    <div class="team-member-card-header">
                      <h4> {{ .title }}&nbsp;{{ .first_name }}&nbsp;{{ .last_name }} </h4>
                    </div>

                    <div class="team-member-card-description">
                      <text-reg> {{ .description | markdownify }} </text-reg>
                    </div>

                    <div class="team-member-card-contact">
                      {{ if .Mail }}
                      <a href="mailto:{{ .Mail }}" target="_self">
                        <i class="fa fa-envelope fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .Personal }}
                      <a href="{{ .Personal | absURL}}">
                        <i class="fa fa-user-circle fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .Github }}
                      <a href="{{ .Github | absURL}}">
                        <i class="fa fa-github fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .GitLab }}
                      <a href="{{ .GitLab | absURL}}">
                        <i class="fa fa-gitlab fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .GoogleScholar }}
                      <a href="{{ .GoogleScholar | absURL}}" id="google">
                        <img class="svg" src="/images/icons/google_scholar_logo.svg" alt="google-scholar-logo"/>
                      </a>
                      {{ end }}

                      {{ if .LinkedIn }}
                      <a href="{{ .LinkedIn | absURL}}">
                        <i class="fa fa-linkedin fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .Twitter }}
                      <a href="{{ .Twitter | absURL}}">
                        <i class="fa fa-twitter fa-lg icon"></i>
                      </a>
                      {{ end }}

                      {{ if .Orcid }}
                      <a href="{{ .Orcid | absURL}}" id="orcid">
                        <img class="svg" src="/images/icons/orcid_logo.svg" alt="orcid-logo"/>
                      </a>
                      {{ end }}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      <div class="about-content">
        <div id="contributors" class="team-other">
          <h3> {{ .subsubheading }} </h3>
          {{ range .members.other}}
            <text-reg>{{ .name | markdownify }}</text-reg>
            <text-reg>&nbsp; &nbsp; </text-reg>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>



{{ end }}
