<!DOCTYPE html>
<title>Utopia: Contact us</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}
<main>
<section class="contact section">
  <div class="container">
    <div class="row">
      <div>

        <!-- Get in touch logo -->
        <div class="logo logo-l contact-icon">
          <img class='svg' src="/images/icons/contact_us.svg" alt="Get in touch with us">
        </div>

        <!-- Header -->
        <div class="section-title">
          <h2> {{ .Params.heading | safeHTML }} </h2>
          <text-reg> {{ .Params.subheading | safeHTML }} </text-reg>
        </div>
        <div class="section-subtitle">
          <text-reg> {{ .Params.description | markdownify }} </text-reg>
        </div>
      </div>

      <!-- Team cards -->
      {{ partial "team.html" . }}

      <!--------------------------------------------------------------------------------------------------------------->
      <!----- Collapsible sections ------------------------------------------------------------------------------------>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="collapsible">
        {{ with .Site.Data.team  }}
        {{ range .collapsibles }}
        <div id="accordion" class="accordion w-100">
          <hr />
          <div class="card" id="{{ .id }}">
            <div class="card-header collapsed">
              <a class="card-link" data-toggle="collapse" href="#acc_{{ .id }}">
                <div class="collapsible-item-header">
                  <h3> {{ .title | markdownify }} </h3>
                </div>
                <div class="collapsible-item-toggler">
                  <h2 > + </h2>
                </div>
              </a>
            </div>
          <div id="acc_{{ .id }}" class="collapse link-target" data-parent="#accordion">
            <div class="card-body">
              <div class="collapsible-item link-target" id="{{ .id }}">
                <text-reg> {{ .content | markdownify }} </text-reg>
                <div class="collapsible-item-images">
                  {{ range .images}}
                  <div class="collapsible-item-images-single">
                    <img src="{{ .image | relURL }}" alt="team-member"/>
                    <text-reg> {{ .description | markdownify }}</text-reg>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
      <hr/>
      </div>
    </div>
  </div>
</section>
{{ partial "footer" . }}
</main>
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
</body>
</html>