

/* Background */ .chroma { background-color: var(--background-color); border: 1px solid var(--background-color); border-left: 3px solid var(--red); }
/* Other */ .chroma .x { }
/* Error */ .chroma .err { color: (var(--red)); background-color: var(--black); }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--dark_gray); }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--dark_gray); }
/* Keyword */ .chroma .k { color: var(--black); font-weight: bold; }
/* KeywordConstant */ .chroma .kc { color: var(--dark_blue); }
/* KeywordDeclaration */ .chroma .kd { color: var(--red) }
/* KeywordNamespace */ .chroma .kn { color: var(--black); font-weight: bold; }
/* KeywordPseudo */ .chroma .kp { color: var(--red); }
/* KeywordReserved */ .chroma .kr { color: var(--red); }
/* KeywordType */ .chroma .kt { color: var(--dark_blue); }
/* Name */ .chroma .n { color: var(--black); }
/* NameAttribute */ .chroma .na { color: var(--medium_green); }
/* NameBuiltin */ .chroma .nb { color: var(--dark_blue); }
/* NameBuiltinPseudo */ .chroma .bp { color: var(--red); }
/* NameClass */ .chroma .nc { color: var(--medium_green); }
/* NameConstant */ .chroma .no { color: var(--red); }
/* NameDecorator */ .chroma .nd { color: var(--medium_green); }
/* NameEntity */ .chroma .ni { color: var(--black); }
/* NameException */ .chroma .ne { color: var(--red); }
/* NameFunction */ .chroma .nf { color: var(--red); }
/* NameFunctionMagic */ .chroma .fm { color: var(--black); }
/* NameLabel */ .chroma .nl { color: var(--black); }
/* NameNamespace */ .chroma .nn { color: var(--black); }
/* NameOther */ .chroma .nx { color: var(--medium_green); }
/* NameProperty */ .chroma .py { color: var(--black); }
/* NameTag */ .chroma .nt { color: var(--medium_green); }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm { color: var(--red); }
/* Literal */ .chroma .l { color: var(--red); }
/* LiteralDate */ .chroma .ld { color: var(--red); }
/* LiteralString */ .chroma .s { color: var(--red); }
/* LiteralStringAffix */ .chroma .sa { color: var(--red) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--red) }
/* LiteralStringChar */ .chroma .sc { color: var(--red) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--red) }
/* LiteralStringDoc */ .chroma .sd { color: var(--red) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--red) }
/* LiteralStringEscape */ .chroma .se { color: var(--red) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--red) }
/* LiteralStringInterpol */ .chroma .si { color: var(--red) }
/* LiteralStringOther */ .chroma .sx { color: var(--red) }
/* LiteralStringRegex */ .chroma .sr { color: var(--red) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--red) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--red) }
/* LiteralNumber */ .chroma .m { color: var(--red); }
/* LiteralNumberBin */ .chroma .mb { color: var(--red) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--red) }
/* LiteralNumberHex */ .chroma .mh { color: var(--red) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--red) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--red) }
/* LiteralNumberOct */ .chroma .mo { color: var(--red); }
/* Operator */ .chroma .o { color: var(--black); font-weight: bold; }
/* OperatorWord */ .chroma .ow { color: var(--black); font-weight: bold; }
/* Punctuation */ .chroma .p { color: var(--dark_gray); }
/* Comment */ .chroma .c { color: var(--dark_gray); font-style: italic; }
/* CommentHashbang */ .chroma .ch { color: var(--dark_gray); }
/* CommentMultiline */ .chroma .cm { color: var(--dark_gray); font-style: italic; }
/* CommentSingle */ .chroma .c1 { color: var(--dark_gray); font-style: italic; }
/* CommentSpecial */ .chroma .cs { color: var(--dark_gray); }
/* CommentPreproc */ .chroma .cp { color: var(--dark_gray); }
/* CommentPreprocFile */ .chroma .cpf { color: var(--dark_gray); }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: var(--medium_green); }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: var(--medium_green); }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--dark_gray); }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
/* Bash */ .chroma .language-bash { color: var(--black); }
