<!DOCTYPE html>
<title>Utopia: Models</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section">
        <div class="container">
          <div class="row">

            <!--------------------------------------------------------------------------------------------------------->
            <!-- Header ----------------------------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------------------->
            <div class="features-header">

              <!-- Link to docs -->
              <div class="features-header-link arrow-link">
                <a href="https://docs.utopia-project.org/html/models/index.html">
                  <text-bf> See all </text-bf>
                  <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                </a>
              </div>

              <!-- Title -->
              <div class="section-title">
                <h2> {{ .Params.heading | markdownify }} </h2>
              </div>

              <!-- Subtitle -->
              <div class="section-subtext">
                <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
              </div>
            </div>

            <div class="models-overview">
              {{ range .Pages  }}
              <div class="model-pane border-large">
                <a href="{{ .Permalink }}index.html">
                  <div class="model-pane-img">
                    <img src="{{ .Params.Cover_image | relURL }}" alt="{{ .Params.heading }}"/>
                  </div>
                  <div class="model-pane-text">
                    <h5>{{ .Params.tagline | markdownify }}</h5>
                    <h4>{{ .Params.heading | markdownify }}</h4>
                  </div>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
