<!DOCTYPE html>
<title>Utopia: {{ .Params.heading }}</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section">
        <div class="container">
          <div class="row">
            {{ partial "models-single-header" . }}
            <div class="models-single-images">
              {{ range .Params.project_images.images }}
              {{ $len := len $.Params.project_images.images }}
              {{ if eq $len 1 }}
                <div class="models-single-images-single" style="float: none; width: 5rem%; margin-left: auto; margin-right: auto;">
                  <img class="border-small" onclick="getElementById('{{ .link }}').style='visibility: visible; opacity: 1;'; " src="{{ .link | relURL }}" alt="model image" />
                </div>
              {{ else }}
                <div class="models-single-images-single">
                  <img class="border-straight" onclick="getElementById('{{ .link }}').style='visibility: visible; opacity: 1;'; " src="{{ .link | relURL }}" alt="model image" />
                </div>
              {{ end }}
              <div class="models-single-images-expanded display-small" id="{{ .link }}">
                <img src="{{ .link | relURL }}" alt="model image" />
                <i class="fa fa-times-circle fa-lg" onclick="getElementById('{{ .link }}').style='opacity: 0; visibility: hidden;'"></i>
                <h5>{{ .desc | markdownify }}</h5>
              </div>
              {{ end }}
              <h5> {{ .Params.project_images.desc | markdownify }} <t class="display-small">(click to enlarge)</t></h5>
            </div>
            <div class="models-single-content">
              <text-reg> {{ .Content }} </text-reg>
            </div>
          </div>
        </div>
      </section>
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
