<!DOCTYPE html>
<title>Utopia features: Data management</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section">
        <div class="container">
          <div class="row">
            {{ partial "features-header" . }}
            <div class="collapsible-item">
              {{ with .Site.Data.features  }}
              {{ range where .features ".category" "data_management"}}
                  {{ partial "feature-accordion.html" . }}
              {{ end }}
              {{ end }}
                <hr />
              </div>
            </div>
          </div>
        </div> <!-- Do not close! -->
      </section>
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
