<!DOCTYPE html>
<title>Utopia features: Visualization</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section">
        <div class="container">
          <div class="row">

            <!--- Header with custom link to plotting tutorial -------------------------------------------------------->
            <div class="features-header">
              <div class="features-header-link">
                <a class="arrow-link" href="/features/index.html ">
                  <img class="svg arrow-left" src="/images/icons/arrow_left.svg" alt="arrow-left"/>
                  <text-bf>Back to overview</text-bf><br/>
                </a>
                <a class="arrow-link" href="https://docs.utopia-project.org/html/usage/eval/plotting/index.html#" id="second">
                  <text-bf>More</text-bf>
                  <text-bf style="white-space: nowrap;">
                    plotting&nbsp;features
                    <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                  </text-bf>
                </a>
              </div>

              <div class="section-title">
                <h3> {{ .Params.tagline | safeHTML }} </h3>
                <h2> {{ .Params.heading | safeHTML }} </h2>
              </div>

              <div class="section-subtext">
                <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
              </div>
            </div>
            <!--- End of header --------------------------------------------------------------------------------------->

            <div class="collapsible-item">
              {{ with .Site.Data.features  }}
              {{ range where .features ".category" "visualize"}}
                  {{ partial "feature-accordion.html" . }}
              {{ end }}
              {{ end }}
                <hr />
              </div>
            </div>
          </div>
        </div> <!-- Do not close! -->
      </section>
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
