<!DOCTYPE html>
<title>Utopia: Features</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section">
        <div class="container">
          <div class="row">

            <!--------------------------------------------------------------------------------------------------------->
            <!-- Header ----------------------------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------------------->
            <div class="features-header">

              <!-- Link to docs -->
              <div class="features-header-link arrow-link">
                <a href="https://docs.utopia-project.org/html/about/features.html#">
                  <text-bf>Complete</text-bf>
                  <text-bf style="white-space: nowrap;">
                    feature&nbsp;list
                    <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                  </text-bf>
                </a>
              </div>

              <!-- Title -->
              <div class="section-title">
                <h2> {{ .Params.heading | markdownify }} </h2>
              </div>

              <!-- Subtitle -->
              <div class="section-subtext">
                <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
              </div>
            </div>
            <!--------------------------------------------------------------------------------------------------------->
            <!-- End of header ---------------------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------------------->

            <!--------------------------------------------------------------------------------------------------------->
            <!-- Individual feature panes ----------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------------------->
            <div class="features-panes">
              {{ $categories := dict "1model_building" "Model Building" "2sim_control" "Simulation Control & Configuration" "3data_management" "Data Management"  "4data_analysis" "Data Analysis"  "5visualize" "Visualisation"  "6model_testing" "Model Testing" }}
              {{ range $link, $name := $categories }}
              <a href="/{{ substr $link 1 }}/index.html">
              <div class="features-pane" id={{ substr $link 1 }}>
                <div class="features-pane-content">
                  <div class="features-pane-content-inner">
                    <div class="features-pane-icon icon-l">
                      <img class="svg" rel="preload" as="image" src="/images/icons/{{ substr $link 1 }}.svg" alt="icon"/>
                    </div>
                    <div class="arrow-link ">
                        <text-bf> {{ $name }}</text-bf>
                        <img class="svg arrow-right" src="/images/icons/arrow_right.svg" rel="preload" as="image" alt="arrow-right"/>
                    </div>
                  </div>
                </div>
              </div>
              </a>
              {{ end }}
            </div>
            <!--------------------------------------------------------------------------------------------------------->
            <!-- End of feature panes --------------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------------------->
          </div>
        </div>
      </section>
      {{ partial "footer" . }}
    </main>
  {{ $vendor := resources.Get "js/vendor.js" | minify }}
  <script src="{{ $vendor.Permalink }}"></script>
  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
