// -- Link styles --------------------------------------------------------------
a{
  color: $link-color;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $link-color-dark;
  }
}

.arrow-link {
  @media(min-width: $mobile_l_width){
    margin-top: 0.8rem;
  }
  @media(max-width: $mobile_l_width) {
    margin-bottom: 1.5rem;
  }
  text-bf{
    font-size: 1.1rem;
  }
  .svg {
    padding-left: 0.4rem; padding-right: 2px;
    path {
      fill: $link-color !important;
    }
  }
  .arrow-left, .arrow-right  {
    height: 0.8rem;
    width: auto;
  }
  .arrow-right-45 {
    height: 0.8rem;
    width: auto;
  }
  .arrow-down {
    height: 1rem; width: auto;
    margin-bottom: -3px;
  }
  &:hover{
    color: $link-color-dark;
    .svg {
      path {
        fill: $link-color-dark !important;
      }
    }
  }
}

// Horizontal rules
hr{
  background-color: $dark_gray !important;
  border-width: 0.5px;
  width: 100%;
}

// Straight border style
.border-straight{
  border-style: solid !important;
  border-color: $dark_gray !important;
  border-width: 0.5px !important;
}

// Border style for round buttons
.border-round{
  border-radius: 50% !important;
  border-width: 1px !important;
  border-color: $dark_gray !important;
  border-style: solid !important;
}

// Border style for small buttons
.border-small{
  border-radius: $border-radius-small !important;
  border-style: solid !important;
  border-color: $dark_gray !important;
  border-width: 0.5px !important;
}

// Border style for large panes
.border-large{
  border-radius: $border-radius;
  border-style: solid;
  border-color: $dark_gray;
  border-width: 0.5px;
}