// ---- SITE COLOR SCHEME ------------------------------------------------------

:root {
  /* Utopia color scheme */
  // css
  --dark_blue: #003366;
  --medium_blue: #0099CC;
  --light_blue: #99CCFF;
  --dark_green: #006666;
  --medium_green: #339999;
  --yellow: #FFCC66;
  --red: #CC3333;
  --cream_white: #F6F6F6;
  --white: #fff;
  --black: #000000;
  --gray: #F7F9FF;
  --dark_gray: #666666;
  --brown: #DE878F;
  --background-color: rgba(235, 238, 245, 1);
}

// Utopia color scheme
// All colours should be set here. Avoid defining colours elsewhere.
// Use web-safe RGB
$dark_blue: #003366;
$dark_blue_transparent: rgba(50, 88, 105, 0.55);
$medium_blue: #0099CC;
$medium_blue_transparent: rgba(0, 95, 177, 0.65);
$light_blue: #99CCFF;
$dark_green: #006666;
$dark_green_transparent: rgba(43, 50, 59, 0.8);
$medium_green: #339999;
$yellow: #FFCC66;
$yellow_transparent: rgba(255, 204, 102, 0.8);
$red: #CC3333;
$cream_white: #F6F6F6;
$cream_white_transparent: rgba(246, 246, 246, 0.2);
$white: #fff;
$black: #000;
$gray: #F7F9FF;
$dark_gray: #666666;
$brown: #DE878F;

// Key accent colours
// Primary colours as central theme accent; secondary colour for text highlighting
// and links.
$secondary-color-dark: $dark_green;
$secondary-color-light: $medium_green;
$primary-color-dark: $dark_blue;
$primary-color-light: $medium_blue;

// Links
$link-color: $medium_blue;
$link-color-dark: $dark_blue;

// Text
$body-color: $black;
$text-color: $dark-blue;
$text-color-dark: $dark_blue;
$text-color-light: $cream_white;

// Feature and model panes
$feature_pane_background: linear-gradient(to left, $gray , white);
$feature_pane_color: rgba(246, 246, 246, 0.8);
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);

$model_building_bg: linear-gradient(to top right, $medium_blue , #29529F);
$writing_data_bg: linear-gradient(to top, $dark_blue , #1D2A42);
$sim_control_bg: linear-gradient(to top left, #F7A55A , $yellow);
$data_analysis_bg: linear-gradient(to top right, $dark_green , #063944);
$visualize_bg: linear-gradient(to top right, $brown , #89302E);
$model_testing_bg: linear-gradient(to top left, $medium_green, #36B391);

// Navbar
$navbar-color-light: transparent; //rgba(46, 46, 46, 0.1);
$navbar-color-dark: $dark_blue_transparent;
$navbar-color-dark_2: rgba(60, 88, 90, 0.9);
$navbar-link-color: $white;

// Background styling
$background: linear-gradient(to top, white , $gray);
$background-color: $gray;

// Blur
$blur_strong: blur(15px);
$blur_medium: blur(10px);
$blur_weak: blur(5px);

