// ---- PAGE LAYOUT PRESETS ----------------------------------------------------

html{
  scroll-behavior: smooth;
}

html, body, main {
  height: 100%;
}

.section {
  // leave space for navbar at top
  padding-top: 6rem;

  // Background color is a gradient
  background-image: $background;

  // Set default text color
  color: $text-color-dark;

  &-title {
    margin-top: 1rem; margin-bottom: 1rem;
  }
  &-subtitle{
    text-reg{
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    margin-top: 1rem; margin-bottom: 3rem;
  }
  &-subtext {
    padding-bottom: 1rem;
  }
}

.paragraph{
   &-title, &-subtitle{
    h2{
      font-size: 2rem;
    }
    text-reg{
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    margin-bottom: 4vh;
  }
}

.row{
  margin-left: auto; margin-right: auto;
}

.text{
  &-box {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    background-color: $gray;
    border-radius: $border-radius;
  }
  &-content {
    padding: 1.5rem 1.5rem;
    ul, ol {
      padding-left: 5vw;
    }
  }
}

// List styles
li {
  padding: 0.2rem;
  p {
    margin: 0;
  }
}
