// ---- LOGO STYLESHEET --------------------------------------------------------

.logo {
  &-l {
    padding-top: 3vh; padding-bottom: 3vh;
    img, .svg {
      height: 6rem; width: auto;
    }
  }
  &-m {
    img, .svg {
      height: 2rem; width: auto;
    }
  }
  &-s {
    img, .svg {
      height: 1.5rem; width: auto;
    }
  }
}

.icon{
  &-l{
    .svg{
      height: 9vh; width: auto; margin: 2vh;
      min-height: 40px; max-height: 80px;
    }
  }
  &-m{
    .svg{
      height: 8vh; width: auto;
      min-height: 40px; max-height: 80px;
    }
  }
  &-s{
    .svg{
      height: 1rem; width: auto;
    }
  }
}
