// ---- SITE TYPOGRAPHY --------------------------------------------------------

// Font: Preferentially uses the default OS font to increase load speeds:
// system-ui represents the default UI font on a given platform, apple-system
// and BlinkMac targets Mac OS and iOS fonts, Segoe for Windows, Roboto for
// Android and Chrome OS. Will default to Helvetica/Arial in other instances.

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
  code { font-family: 'Fira Code', monospace; src: local('Fira Code'); font-display: swap; unicode-range: U+000-5FF; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; src: local('Fira Code VF'); font-display: swap; unicode-range: U+000-5FF; }
}

@import url(https://code.cdn.mozilla.net/fonts/fira.css);
code { preload: 'automatic'; font-family: 'Fira', monospace; src: local('Fira'); font-display: swap; unicode-range: U+000-5FF; };

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira', monospace; src: local('Fira'); font-display: swap; unicode-range: U+000-5FF; }
}

$font: 'Fira Sans', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,
      "Helvetica Neue",Arial,sans-serif;

html {
  @media(min-width: $tablet_width) {
    font-size: 18px;
  }
  @media(max-width: $tablet_width){
    font-size: 17px;
  }
  @media(max-width: $mobile_l_width){
    font-size: 15px;
  }
}
body{
  font-family: $font;
}

// -- Heading styles -----------------------------------------------------------
h1, h2, h3, h4, h5, h6, text-bf, text-reg, text-sm, p{
  font-family: $font;
  line-height: 1.2;
}

h1, h2, h3 {
  font-weight: 600;
}

h4 {
  font-weight: 450;
}
h5, h6 {
  font-weight: 400;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.25rem;
}

h5{
  font-size: 0.9rem;
}

// -- Text styles --------------------------------------------------------------
text-bf, text-reg, text-light, p, ul, ol, li, pre {
  font-size: 1rem;
  @media(max-width: $mobile_l_width){
    font-size: 1.1rem;
  }
}

strong{
  font-weight: 450;
}
text-bf{
  font-weight: 400;
}

text-reg, p, li {
  font-weight: 350;
}

text-light{
  font-weight: 300;
}

text-small{
  font-size: 0.8rem;
  font-weight: 300;
}

p, ul, ol, li, pre {
  line-height: 1.6rem !important;
}

// Code styles
code {
  color: $red;
}

pre {
  code {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  page-break-inside: avoid;
  font-size: 1rem;
  margin-bottom: 1.6em !important;
  max-width: 90%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

blockquote{
  margin-left: 2%; margin-right: 2%;
  font-style: italic;
}
