<!DOCTYPE html>
<title>Utopia: Getting started</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      {{ with .Site.Data.quickstart  }}
      <section class="section">
        <div class="container">
          <div class="row">
              <!-- Section title -------------------------------------------------------------------------------------->
              <div class="section-title">
                <h4> {{ .tagline }} </h4>
                <h2> {{ .heading }} </h2>
                <h3> {{ .subheading }} </h3>
              </div>

              <div class="section-title-subtext">
                <text-bf> {{ .description | markdownify }} </text-bf>
              </div>

              <!-- Individual installation steps ---------------------------------------------------------------------->
              <div class="quickstart">
                {{ range .steps}}
                <div class="text-content quickstart-single-step">

                  <div class="quickstart-single-step-num">
                    <h2> {{ .step }} </h2>
                  </div>

                  <div class="quickstart-single-step-content">
                    <h4> {{ .title }} </h4>
                    <div>
                    <text-light>
                      {{ .details | markdownify }}
                    </text-light>
                    </div>
                    {{ if .info_link }}
                    <div class="arrow-link">
                      <a href="{{ .info_link }}">
                        <text-reg> {{ .info_title | markdownify }} </text-reg>
                        <img class="svg arrow-right-45" src="/images/icons/arrow_right_45.svg" alt="arrow-right"/>
                      </a>
                    </div>
                    {{ end }}
                  </div>
                </div>

                {{ end }}

                {{ if .additional_info.enable }}
                <hr />
                <div class="text-content quickstart-single-step">
                  <text-reg> {{ .additional_info.text | markdownify }}</text-reg>
                </div>
                {{ end }}
            </div>
          </div>
        </div>
      </section>
      {{ end }}
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
