// Stylesheet for collapsible accordeons, used on mainpage, feature page, and contact page
// These style the bootstrap accordeon
.collapsible{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

// Accordion cards
.card, .card-header {
  padding: 0;
  background-color: transparent;
  width: 100%;
  border: none;
  &-body {
    padding-left: 0; padding-right: 0;
  }
}

// Single accordeon item
.collapsible-item{
  width: 100%;
  padding-top: 20px;
  text-align: left;
  &-header {
    float: left;
    width: 95%;
  }
  &-toggler {
    float: left;
    width: 5%;
    text-align: center;
    h2 {
      transition: all 0.3s;
      line-height: 30px;
      margin: 0;
      font-weight: 300;
    }
  }
  &-content {
    display: block;
    ul, ol {
      padding-left: 4vw;
    }

    &-with-image{
      @media(max-width: $desktop_width) {
        width: 100%; float: left;
      }
      @media(min-width: $desktop_width) {
        width: 50%; float: left;
      }
    }

    &-images{
      @media(max-width: $desktop_width) {
        width: 100%; float: left;
        margin-top: 3rem;
      }
      @media(min-width: $desktop_width) {
        width: 50%; float: right;
      }
    }
    &-image{
      @media(min-width: $desktop_width) {
        padding-left: 5%; padding-right: 5%;
      }
      img{
        width: 100%;
        margin-bottom: 2%;
      }
      text-small, p{
        display: block;
        margin-top: 5%;
      }
      margin-bottom: 5%;
    }

    &-without-image{
      width: 100%;
    }
  }
}