// stylesheet for the contact page and impressum
.contact {
  text-align: center;
  h4 {
    font-weight: 300;
  }
  &-links {
    width: 100%;
    margin-top: 20px;
    a{
      line-height: 2rem;
      white-space: nowrap;
      color: $text-color-light;
      padding: 10px;
      i {
        padding-left: 20px; padding-right: 10px;
      }
      &:hover{
        color: $link-color-dark;
      }
    }
  }
  &-icon {
    img, .svg {
      height: 30vw;
      max-height: 150px;
      path{
        fill: $primary_color_dark !important;
      }
    }
  }
}

.impressum {
  min-height: 100vh;
  background-color: $medium_blue;
  text-align: center;
  .text-content {
    img {
      height: 100px;
      margin-top: 5%; margin-bottom: 5%;
    }
    color: $text-color-light;
    margin-left: 0%;
  }
}
