// stylesheet for the feature panes
.features{
  &-header {
    width: 100%;

    // Link to docs, floating right for large screens, left for small screens
    &-link{
      @media(min-width: $mobile_l_width) {
        width: 40%;
        float: right;
      }
      a {
        @media(min-width: $mobile_l_width) {
          float: right;
          text-align: right;
        }
      }
      #second {
        clear: right;
      }
    }

    // Floating section title
    .section-title {
      @media(min-width: $mobile_l_width) {
        float: left;
        width: 60%;
      }
      @media(max-width: $mobile_l_width) {
        clear: both;
      }
    }

    // Section subtitle, full width underneath title and link
    .section-subtext{
      clear: both;
    }
  }

  // Panes area
  &-panes {
    position: relative;
    padding-top: 2vh; padding-bottom: 5vh;
    margin: 0;
    width: 100%;

    // Subtle gradients for each pane
    #model_building {
      background-image: $model_building_bg;
    }
    #data_management {
      background-image: $writing_data_bg;
    }
    #sim_control {
      background-image: $sim_control_bg;
    }
    #data_analysis {
      background-image: $data_analysis_bg;
    }
    #visualize {
      background-image: $visualize_bg;
    }
    #model_testing {
      background-image: $model_testing_bg;
    }
  }

  // Individual pane
  &-pane {
    position: relative;
    float: left;
    border-radius: $border-radius;

    // Mobile
    @media(max-width: $tablet_width) {
      width: 48%;
    }
    // Tablet and Desktop
    @media(min-width: $tablet_width) {
      width: 31%;
    }
    margin: 1%;
    display: flex;

    // Text color
    color: $text-color-light;

    // Hover transition
    transition: all 0.3s $site_ease;

    // Outer content box: aligned in center of pane
    &-content {

      // Align content in center of pane
      margin-left: auto; margin-right: auto;
      justify-content: center;
      margin-top: 10%; margin-bottom: 10%;
      display: flex;
      padding: 5%;

      // Two-column layout for small screens
      @media(max-width: $tablet_width) {
        height: 25vw; min-height: 28vh;
      }
      // Three-column layout for large screens
      @media(min-width: $tablet_width) and (max-width: $desktop_l_width) {
        min-height: 16vw;
        height: 18vh; max-height: 12rem;
      }
      // Max height for very large screens
      @media(min-width: $desktop_l_width) {
        height: 21vw; max-height: 15rem;
      }

      // Inner box containing icon and text: aligned in center of outer content box
      &-inner{
        margin: auto auto;
        justify-content: center;
      }

      // White icons and arrow links which do not change color on hover
      .arrow-link{
        margin-bottom: 0;
        text-align: center;
        .svg{
          path{
            fill: $text-color-light !important;
          }
        }
        &:hover{
          color: $text-color-light;
          .svg{
            path{
              fill: $text-color-light !important;
            }
          }
        }
      }
    }

    // Pane icon: aligned in center of pane
    &-icon {
      justify-content: center;
      display: flex;
      margin-bottom: 2%;
      .svg {
        path{
          fill: $cream_white !important;
        }
      }
    }

    // Add box shadow to pane upon hover
    &:hover {
      box-shadow: ( 0px 0px 15px rgba(0,0,0, 0.8));
    }
  }
}
