.footer {
  background-color: $white;
  padding: 2rem 5vw 1rem;
  .logo {
    position: relative;
    width: 100%; height: 40px;
    padding-left: 0;
    padding-top: 0.5rem; padding-bottom: 0.5rem;
    .svg {
      path {
        fill: $dark_gray !important;
      }
      position: absolute; top: 0.35rem;
    }
    text-small {
      position: absolute; left: 5rem;
    }
  }

  &-category {
    hr {
      margin-top: 1rem; margin-bottom: 0;
    }

    width: 50%;
    @media (max-width: $mobile_l_width) {
      display: block;
      width: 100%;
    }
    padding-right: 5vw;
    &-header {
      text-small {
        font-weight: 400;
      }
    }
    &-text {
      line-height: 1.2rem;
    }
  }
  &-signature {
    padding-top: 1rem;
    width: 100%;
    .arrow-link {
      .svg {
        padding-left: 0.1rem;
        path {
          fill: $link-color !important;
        }
      }
      .arrow-right-45 {
        height: 0.5rem;
        width: auto;
      }
    }
  }
}
