// Stylesheet for the mainpage
.mainpage{
  &-section{
    width: 100%;
    margin-top: 5vh; margin-bottom: 5vh;
    &-header{
      text-align: center;
    }
  }

  // Splash containing logo, description, and image carousel
  // Add some additional space for large screens
  &-splash{
    @media(min-width: $desktop_width) {
      margin-top: 5rem;
    }

    // Content box: floating left on large screens, full width on small screens
    &-content{
      @media(min-width: $desktop_width) {
        width: 57%; margin-right: 6%;
        float: left;
      }
      @media(max-width: $desktop_width) {
        margin-left: auto; margin-right: auto;
        width: 100%;
      }
      .logo-l{
        .svg{
          path{
            fill: $primary-color-dark !important;
          }
        }
      }

      // Links
      a{
        margin-right: 5%;
      }

      // Box for utopya and dantro showcase
      &-ecosystem{
        float: left;
        &-button{
          float: left; margin-right: 5%; padding: 0.5rem;
          background-image: $feature_pane_background;
          display: flex;
          .svg {
            path{
              fill: $secondary-color-dark !important;
            }
          }
          &:hover{
            box-shadow: ( 0px 0px 10px $dark_blue_transparent);
            border-width: 0px;
          }
        }
      }
      code{
        color: inherit;
      }
    }

    // Image carousel area: floating right for large screens, displayed below main splash content for small screens
    &-carousel{
      display: flex; margin: auto auto; justify-content: center;
      @media(max-width: $desktop_width) {
        margin-left: auto; margin-right: auto;
        padding-top: 10vw;
        width: 100%;
      }
      @media(min-width: $desktop_width) {
        width: 37%;
        float: right;
      }
      // Container for carousel: full width
      &-container{
        @media(min-width: $desktop_width) {
          width: 100%;
        }
        @media(min-width: $mobile_l_width) and (max-width: $desktop_width) {
          width: 75%;
        }
        @media(max-width: $mobile_l_width) {
          width: 100%;
        }
      }

      // Carousel controls
      &-controls{
        margin-top: 5%; margin-bottom: 0%;
        height: 40px;
        justify-content: center;
        display: flex;
        &-arrow-next, &-arrow-prev{
          margin: 0;
          width: 15%; height: 100%;
          overflow: visible;
        }
        &-arrow-prev{
          .svg{
            padding-left: 1%; padding-right: 0;
          }
        }
        &-arrow-next{
          .svg{
            padding-left: 0; padding-right: 1%;
          }
        }
        &-arrow-box{
          height: 2rem; width: 2rem;
          display: flex;
          justify-content: center;
          margin: auto auto;
          .svg{
            margin: auto auto;
          }
        }
        &-dots{
          height: 100%;
          width: 40%;
          float: left;
          position: relative;
          padding-top: 0; padding-bottom: 0;
        }
      }
    }

    // 'More models' pane
    &-more-pane{
      padding: 8%;
      padding-bottom: 10%;
      text-bf{
        font-size: 1.25rem;
        font-weight: 450;
      }
      .svg{
        path{
          fill: $text-color-dark !important;
        }
      }
    }
  }

  // --- Feature panes -------------------------------------------------------------------------------------------------
  &-features{

    // Feature columns
    // Large screens: two columns side by side; small screen: one column
    &-col-left, &-col-right{
      @media(min-width: $tablet_width) {
        width: 49%;
      }
    }
    &-col-left{
      @media(min-width: $tablet_width) {
        float: left;
        :last-child{
          margin-bottom: 0;
        }
      }
    }
    &-col-right{
      @media(min-width: $tablet_width) {
        float: right;
        clear: right;
      }
      :last-child{
        margin-bottom: 0;
      }
    }

    // Feature pane
    &-pane{
      width: 100%;
      margin-bottom: 5%;
      overflow: auto;

      &-icon{
        float: left; text-align: right;
        padding-top: 0.5vh; padding-right: 3vh;
        @media(min-width: $tablet_width) {
          width: 20%;
        }
        @media(max-width: $tablet_width) {
          width: 5%;
        }
        .svg{
          path{
            fill: $dark_green !important;
          }
        }
      }
      &-textbox{
        float: right;
        @media(min-width: $tablet_width) {
          width: 80%;
        }
        @media(max-width: $tablet_width) {
          width: 87%;
        }
      }
    }
  }

  // --- Workflow -------------------------------------------------------------
  &-workflow{
    :last-child{
      margin-bottom: 0;
    }

    // Styling for the header icons
    &-header-icons{
      text-align: center;
      margin-bottom: 3vh;
      #icon_model_building{
        path{
          fill: $red !important;
        }
      }
      #icon_sim_control{
        path{
          fill: $dark_green !important;
        }
      }
      #icon_data_analysis{
        path{
          fill: $yellow !important;
        }
      }
      #icon_eval{
        path{
          fill: $brown !important;
        }
      }
    }

    // Styling for the individual steps
    &-item{
      overflow: auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
      scroll-margin-top: 100px;

      &-icon{
        @media(max-width: $tablet_width) {
          width: 16%;
        }
        @media(min-width: $tablet_width) {
          width: 30%;
        }
        float: left; text-align: right;
        #icon_model_building.svg{
          path{ fill: $red !important; }
        }
        #icon_sim_control.svg{
          path{ fill: $dark_green !important; }
        }
        #icon_run.svg{
          height: 7vh; max-width: 70px;
          @media(max-width: $mobile_l_width) {
              max-width: 50px;
          }
        }
        #icon_data_management.svg{
        }
        #icon_data_analysis.svg{
          height: 6vh; max-width: 70px;
          path{ fill: $yellow !important; }
        }
        #icon_visualize.svg{
           height: 7vh; width: auto; max-width: 70px;
           @media(max-width: $mobile_l_width) {
              max-width: 50px;
           }
        }

      }
      &-textbox{
        @media(max-width: $tablet_width) {
          width: 80%; margin-left: 4%;
        }
        @media(min-width: $tablet_width) {
          width: 66%; margin-left: 4%;
        }
        float: right;
      }
    }
  }
}

// --- Accordion --------------------------------------------------------------
#accordion .link-target {
    scroll-margin-top: 100px;
}

// --- Carousel controls ----------------------------------
ol.carousel-indicators {
  position: relative;
  margin: 0;
  top: 0;
  height: 100%;
  margin-top: auto; margin-bottom: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  top: 20%;
  height: 10px;
  justify-content: center;
  width: auto;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

ol.carousel-indicators li.active {
  .dot{
    background-color: $link-color !important;
  }
}

.dot{
  height: 10px;
  width: 10px;
  background-color: $dark_gray;
  border-radius: 50%;
  margin: 1px 1px;
  cursor: pointer;
  float: center;
}

.nav__dots .active{
  background-color: red !important;
}