// Individual model pane, as used on the mainpage and the models overview page
.model-pane{
  background-image: $feature_pane_background;
  box-shadow: ( 2px 3px 10px rgba(0,0,0, 0));
  margin-left: 1rem; margin-right: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 2%;
  &-img{
    width: 100%;
    img, video{
      width: 100%;
      height: 100%;
      border-top-left-radius: $border-radius; border-top-right-radius: $border-radius;
    }
  }
  &-text{
    color: $text-color-dark;
    padding: 8%;
    min-height: 8rem;
    h5 {
      font-family: "Fira Mono";
    }
    .svg{
      display: inline;
    }
  }
  &:hover {
    .model-pane-text, .arrow-link{
      color: $link-color;
      svg{
        path{
          fill: $link-color !important;
        }
      }
    }
  }
}

.models{
  // Stylesheet for the models overview page
  &-overview{
    margin-top: 2%;
    .model-pane{
      margin-left: 0; margin-right: 0;

      // Two-column layout for small screens
      @media(max-width: $tablet_width) {
        width: 100%;
      }
      // Three-column layout for large screens
      @media(min-width: $tablet_width){
        width: 30%;
        margin-left: 1%; margin-right: 1%;
      }

      &:hover{
        box-shadow: ( 0px 0px 10px $dark_blue_transparent);
        border-width: 0px;
      }
    }
  }

  // Stylesheet for the single model description pages
  &-single {
    // Section titles
    .section-title {
      h3 {
        font-family: 'Fira Mono';
      }
    }

    // Model images
    &-images {
      &-single{
        width: 40%;
        float: left;
        margin: 5%;
        img {
          width: 100%;
        }
        h5 {
          padding-left: 3%; padding-right: 3%;
          text-align: center;
        }
      }
      h5 {
        text-align: center;
        padding-bottom: 1rem;
      }

      // On small screens, the model images expand
      &-expanded {
        z-index: 2000;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s $site_ease;
        position: fixed;
        background: linear-gradient(217deg, $dark_green_transparent, rgba(120,130,165,0.5) 70.71%),
                    linear-gradient(127deg, rgba(100,170,205,0.5), rgba(10,100,10,0.5) 70.71%),
                    linear-gradient(336deg, rgba(40,100,25,0.6), rgba(20,100,25,0.6) 70.71%);
        @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
          background: linear-gradient(217deg, $dark_green_transparent, rgba(0,100,0,0) 70.71%),
                      linear-gradient(127deg, rgba(140,170,205,0.6), rgba(190,155,0,0) 60.71%),
                      linear-gradient(336deg, $dark_green_transparent, rgba(0,100,25,0) 70.71%);
          backdrop-filter: $blur_medium;
          -webkit-backdrop-filter: $blur_medium;
          -moz-filter: url('#blur');
        }
        top: 0; bottom: 0; left: 0; right: 0;
        img {
          padding-left: 6%; padding-right: 6%;
          position: relative;
          margin-top: 40%;
          width: 100%;
          filter: drop-shadow( 0px 0px 10px rgba(0,0,0, 0.3));
        }
        i {
          position: fixed;
          top: 3%; right: 6%;
          color: $text-color-light;
          filter: drop-shadow( 0px 0px 5px rgba(0,0,0, 0.5));
        }
        h5 {
          padding: 6%;
          position: relative;
          margin-bottom: 30%;
          color: $text-color-light;
          code {
            color: $yellow;
          }
        }
      }
    }
  }

  // Text
  &-content {
    margin-top: 2%;
    text-align: left;
    ul, ol {
      margin-left: 5vw;
      padding: 0;
    }
  }
}

@media(min-width: $mobile_l_width) {
  .display-small {
    display: none;
  }
}

@media(max-width: $mobile_l_width) {
  .display-large {
    display: none;
  }
}
