// stylesheet for the site navigation bar
.nav{

  position: fixed;
  top: 0%; left: 0%; right: 0%;
  background-color: $navbar-color-dark_2;
  @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
      background-color: $navbar-color-dark;
      backdrop-filter: $blur_strong;
      -webkit-backdrop-filter: $blur_strong;
      -moz-filter: url('#blur');
  }
  z-index: 1000;
  transition: all 0.3s $site-ease;
  height: auto; width: 100%;
  justify-content: center;

  &-container {
    position: relative;
    margin-left: 5vw; margin-right: 5vw;
    width: 100%;
    @media (min-width: $min-nav-size) {
      margin-top: 1.5rem; margin-bottom: 1.5rem;
      text-align: center;
    }
    @media (max-width: $min-nav-size){
      margin-top: 1rem; margin-bottom: 1rem;
    }
    transition: all 0.3s $site-ease;
  }

  // Flatten navbar on scroll (large screens only)
  &-scroll {
    @media (min-width: $min-nav-size){
      .nav-container {
        margin-top: 1rem; margin-bottom: 1rem;
      }
    }
  }

  &-item{
    display: inline-block;
  }

  &-home-button {
    position: relative;
    margin-right: 35px;
    .svg {
      position: absolute;
      top: -17px;
      padding-bottom: 1.3px;
      width: 23px; height: 23px;
    }
  }

  &-divider {
    margin-left: 25px; margin-right: 25px;
    display: inline;
    border-left: 1px solid $navbar-link-color;
  }

  &-links {
    @media (min-width: $min-nav-size){
      display: inline-block;
      padding: 0px 15px;
    }
    @media (max-width: $min-nav-size) {
      display: block;
      text-align: left;
      padding: 4px 3px;
    }
    a {
      font-size: 18px;
      font-weight: 350;
      color: $navbar-link-color;
      border-bottom: transparent solid 2px;
      padding-bottom: 2px;
      transition: $site-ease;
      &:hover {
        border-bottom: $navbar-link-color solid 2px;
      }
    }
  }
  &-toggler{
    margin-left: 16px;
    @media (max-width: $min-nav-size){
      float: right;
    }
  }
  &-collapsed {
    padding-top: 1rem;
  }

  &-active {
    border-bottom: $navbar-link-color solid 2px !important;
  }
}

.navbar-toggler{
  display: inline;
  padding: 0px;
  .icon-bar {
    height: 2px;
    width: 25px;
    transition: all 0.2s;
    background: $white;
    display: block;
    &:not(:last-child){
      margin-bottom: 5px;
    }
    &:nth-child(1){
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    &:nth-child(2){
      opacity: 0;
      filter: alpha(opacity=0);
    }
    &:nth-child(3){
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
  &.collapsed{
    .icon-bar{
      &:nth-child(1){
        transform: rotate(0);
      }
      &:nth-child(2){
        opacity: 1;
        filter: alpha(opacity=1);
      }
      &:nth-child(3){
        transform: rotate(0);
      }
    }
  }
}

// Switch between full and collapsed navbar
@media (max-width: $min-nav-size) {
  .nav-large {
    display: none;
  }
}

@media (min-width: $min-nav-size) {
  .nav-small {
    display: none;
  }
}
