// Stylesheet for the quickstart installation instructions
.quickstart{

  // Single step of the installation process
  &-single-step{
    overflow: auto;
    padding: 0;
    margin-bottom: 3vh;

    // Number
    &-num {
      @media(max-width: $tablet_width){
        width: 5%;
      }
      @media(min-width: $tablet_width){
        width: 15%;
      }
      float: left;
      text-align: right;
      h2 {
        color: $text-color-dark;
        font-size: 4rem;
        font-weight: 400;
      }
    }

    // Text content
    &-content{
      padding-top: 1rem;
      float: left;
      @media(max-width: $tablet_width){
        width: 85%;
        margin-left: 10%;
      }
      @media(min-width: $tablet_width){
        width: 80%;
        margin-left: 5%;
      }
    }
  }
}
