// stylesheet for the team member cards
.team{
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-margin-top: 80px;
  &-heading{
    text-align: center;
    width: 100%;
  }
  &-member-panes {
    width: 100%;
    position: relative;
  }
  &-member-card{
    float: left;
    position: relative;
    scroll-margin-top: 80px;
    @media(min-width: 1200.5px) {
      width: 31%;
      margin-left: 1%; margin-right: 1%;
      &:last-child {
        margin-left: 34% !important;
      }
    }
    @media (max-width: 1200.5px) and (min-width: $tablet_width) {
      width: 46%;
      margin-left: 2%; margin-right: 2%;
      &:last-child {
        margin-left: 28%;
      }
    }
    @media(max-width: $tablet_width) and (min-width: $mobile_l_width) {
      width: 80%;
      margin-left: 10%; margin-right: 10%;
    }
    @media(max-width: $mobile_l_width) {
      width: 100%;
      margin-left: 0%; margin-right: 0%;
    }

    text-align: center;
    border-style: solid; border-color: gray; border-width: 0.5px;
    background-image: linear-gradient(to bottom left, $cream_white_transparent , $gray);
    &-image{
      border-radius: 50%;
      overflow: hidden;
      width: 10rem; height: 10rem;
      @media(max-width: $tablet_width) {
        width: 14rem; height: 14rem;
      }
      display: block;
      margin-left: auto; margin-right: auto;
      margin-top: 10%; margin-bottom: 10%;
      img{
        width: 10rem;
        @media(max-width: $tablet_width) {
          width: 14rem;
        }
        height: auto;
      }
    }

    &-header{
      margin-bottom: 10%;
      h4{
        font-weight: 450 !important;
      }
    }
    &-designation{
      min-height: 3rem;
    }

    &-description{
      line-height: 1.3;
      margin-top: -4%; margin-bottom: 5%;

    }
    .read-more {
      padding-top: 1rem;
      color: $link-color;
      &:hover {
        color: $link-color-dark;
        cursor: pointer;
      }
    }


    &-contact{
      i{
        padding-left: 2%; padding-right: 2%;
      }
      #google, #orcid {
        display: inline;
        padding: 5px;
        position: relative;
        top: 5px;
        .svg {
          height: 20px;
          width: 20px;
          path {
            fill: $link-color !important;
          }
          &:hover path{
              fill: $link-color-dark !important;
          }
        }
      }
    }

    &-content{
      margin: 0;
      .close-pane-icon {
        color: $link-color;
        position: absolute;
        top: 5%; left: 90%;
        &:hover {
          color: $link-color-dark;
          cursor: pointer;
        }
      }
      visibility: hidden;
      @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
          background-color: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(40px);
          -webkit-backdrop-filter: blur(40px);
          -moz-filter: url('#blur');
      }
      background-color: $gray;
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      opacity: 0%;
      transform: translateY(60px);
      transition: all 0.3s $site-ease;
      padding-top: 5%; padding-bottom: 5%;
    }
  }

  &-other {
    margin-top: 2rem; margin-bottom: 2rem;
    text-align: center;

    text-reg:last-child {
      display: none;
    }
  }

  &-history {
    h3 {
        text-align: center;
    }
    blockquote {
        margin-left: 1.5rem;
        padding-left: 0.5rem;
        font-style: italic;
    }
    code {
        color: inherit;
    }
    text-align: left;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.show-pane{
  .team-member-card {
    z-index: 10;
    &-content{
      visibility: visible;
      transform: translateY(0);
      opacity: 100%;
    }
  }
}

// @media(min-width: $tablet_width) {
//   .read-more, .close-pane-icon {
//     display: none;
//   }
// }
