<!DOCTYPE html>
<title>Utopia: Publications</title>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="section publications">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2> {{ .Params.heading | markdownify }} </h2>
              <h3> {{ .Params.tagline | markdownify }} </h3>
            </div>
            <div class="section-subtext">
              <text-bf> {{ .Params.subheading | markdownify }} </text-bf>
            </div>
            <div class="text-box">
              <div class="text-content">
                <text-reg> {{ .Content }} </text-reg>
              </div>
            </div>
        </div>
      </section>
      {{ partial "footer" . }}
    </main>
    {{ $vendor := resources.Get "js/vendor.js" | minify }}
    <script src="{{ $vendor.Permalink }}"></script>
    {{ $script := resources.Get "js/script.js" | minify }}
    <script src="{{ $script.Permalink }}"></script>
  </body>
</html>
