<!DOCTYPE html>
<title>Utopia: Complex Systems Modeling</title>
<link rel="preload" as="video" href="https://seafile.blsqr.xyz/d/3bb1ecb0f0364026bbc8/files/?p=/videos/SimpleFlocking.mp4&raw=1">
<link rel="preload" as="video" href="https://seafile.blsqr.xyz/d/3bb1ecb0f0364026bbc8/files/?p=/videos/Opinionet.mp4&raw=1">

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body id="body">
        {{- partial "header.html" . -}}
        <main class="mainpage">
          {{ partial "main.html" . }}
          {{ partial "footer" . }}
        </main>
        {{ $main := resources.Get "js/main.js" | minify }}
        <script src="{{ $main.Permalink }}"></script>
        {{ $vendor := resources.Get "js/vendor.js" | minify }}
        <script src="{{ $vendor.Permalink }}"></script>
        {{ $script := resources.Get "js/script.js" | minify }}
        <script src="{{ $script.Permalink }}"></script>
    </body>
</html>
